<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhy.Mapper.ActMapper">

    <!--查看代办任务-->
    <select id="findNeedTaskList" parameterType="String" resultType="com.xhy.domain.Need">
        select n.*,a.ID_ from act_ru_task a
            inner join  act_ru_execution e on a.EXECUTION_ID_ = e.ID_
            inner join tb_need n on e.BUSINESS_KEY_ = n.needid
            inner join tb_users u on n.neederid = u.userId where u.realname = #{username}
    </select>

    <!--存储需求相关信息-->
    <insert id="addActNeed" parameterType="com.xhy.domain.Act_Need" >
        insert into need_act values (id=#{id},businessId = #{businessId},startTime=#{starttime},endTime=#{endTime},upname=#{upname},auther=#{auther},text=#{text})
    </insert>

    <!--查看需求审批状态-->
    <select id="findActNeed" parameterType="Integer">
        select * from need_act where businessId=#{businessKey}
    </select>
</mapper>