<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhy.Mapper.BuyMapper">
    <select id="findAll" resultType="com.xhy.domain.Buy" parameterType="com.xhy.vo.BuyVo">
        SELECT * FROM tb_buy
        <where>
            <if test="selectName!=null and selectName!=''">
                uptype = #{selectName}
            </if>
            <if test="searchName!=null and searchName!=''">
                and buytitle like '%${searchName}%'
            </if>
            <if test="department!=null and department!=''">
                and department = #{department}
            </if>
            <if test="buyerid !=0">
                and buyerid = #{buyerid}
            </if>
            <if test="itemtype!=null and itemtype!=''">
                and itemtype = #{itemtype}
            </if>
            <if test="itemid!=null and itemid!=''">
                and itemid = #{itemid}
            </if>
            <if test="btime!=null">
                and btime = #{btime}
            </if>
        </where>
        order by buyid
        <if test="importancetype ==1">
            ,importance
        </if>
        <if test="arrivaltimetype ==1">
            ,arrivaltime
        </if>
        <if test="btimetype==1">
            ,btime
        </if>
        <if test="ordertype == 1">
            desc
        </if>
    </select>

    <select id="findbyid" parameterType="int" resultType="com.xhy.domain.Buy">
        select *
        from tb_buy
        where buyid = #{buyid}
    </select>

    <insert id="addBuy" parameterType="com.xhy.domain.Buy">
        insert into tb_buy(buyid, buytitle, btime, itemtype, itemid, num, unit, buyerid, neederid,
                           uptype, comment, importance,department,buytype,needid)
        values (null, #{buytitle}, #{btime}, #{itemtype}, #{itemid}, #{num}, #{unit}, #{buyerid},
                #{neederid}, 0, #{comment}, #{importance},#{department},0,#{needid});
    </insert>

    <update id="updataBuy" parameterType="com.xhy.domain.Buy">
        update tb_buy
        set buytitle=#{buytitle}
          , btime=#{btime}
          , itemtype=#{itemtype}
          , itemid=#{itemid}
          , num=#{num}
          , unit=#{unit}
          , importance=#{importance}
          , comment=#{comment}
          , arrivaltime=#{arrivaltime}
          ,department=#{department}
          , importance=#{importance}
          , buytype=#{buytype}
        where buyid = #{buyid};
    </update>

    <delete id="deleteBuy" parameterType="int">
        delete
        from tb_buy
        where buyid = #{buyid};
    </delete>

    <update id="updateStatus" parameterType="com.xhy.domain.Buy">
        update tb_buy
        set uptype=#{uptype}
        where buyid = #{buyid};
    </update>

    <select id="findBuy" resultType="com.xhy.domain.Buy">
        SELECT *
        FROM tb_buy
    </select>
</mapper>

