<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhy.Mapper.BuyMapper">
    <select id="findAll" resultType="com.xhy.domain.Buy" parameterType="com.xhy.vo.BuyVo">
        SELECT * FROM tb_buy
        <where>
            <if test="selectName!=null and selectName!=''">
                uptype = #{selectName}
            </if>
            <if test="searchName!=null and searchName!=''">
                and buytitle like '%${searchName}%'
            </if>
        </where>
        order by buyid desc
    </select>

    <select id="findbyid" parameterType="int" resultType="com.xhy.domain.Buy">
        select *
        from tb_buy
        where buyid = #{buyid}
    </select>

    <insert id="addBuy" parameterType="com.xhy.domain.Buy">
        insert into tb_buy(buyid, buytitle, btime, itemtype, itemid, num, unit, buyerid, neederid,auditid, uptype,comment)
        values (null, #{buytitle}, #{btime}, #{itemtype}, #{itemid}, #{num}, #{unit}, #{buyerid}, #{neederid},#{auditid}, 0,#{comment});
    </insert>

    <update id="updataBuy" parameterType="com.xhy.domain.Buy">
        update tb_buy set
        buytitle=#{buytitle},btime=#{btime},itemtype=#{itemtype},itemid=#{itemid},num=#{num},unit=#{unit}
        ,buyerid=#{buyerid},neederid=#{neederid},auditid=#{auditid}
        <if test="uptype!=null and uptype!=''">
            , uptype=#{uptype}
        </if>
        <if test="comment!=null and comment!=''">
            ,comment=#{comment}
        </if>
        where buyid = #{buyid};
    </update>

    <delete id="deleteBuy" parameterType="int">
        delete
        from tb_buy
        where buyid = #{buyid};
    </delete>

    <update id="updateStatus" parameterType="com.xhy.domain.Buy">
        update tb_buy
        set uptype=#{uptype}
        where buyid = #{buyid};
    </update>

    <select id="findBuy" resultType="com.xhy.domain.Buy" >
        SELECT * FROM tb_buy
    </select>
</mapper>

