<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhy.Mapper.OutRepositoryMapper">
    <!--查看出库列表信息-->
    <select id="findOutRepository" parameterType="com.xhy.vo.OutRepositoryVO" resultType="com.xhy.domain.OutRepository">
         select * from tb_outrepository
        <where>
            <if test="searchName!=null and searchName!=''">
                name like '%${searchName}%'
            </if>
            <if test="selectName!=null and selectName!=''">
                and needid = #{selectName}
            </if>
        </where>
    </select>

    <!--添加出库信息-->
    <insert id="addOutRepository" parameterType="com.xhy.domain.OutRepository">
        insert into tb_outrepository values(null,#{name},#{itemid},#{time},#{num},#{unit},#{outRept},#{needid},#{status});
    </insert>

    <!--修改出库信息-->
    <update id="updateOutRepository" parameterType="com.xhy.domain.OutRepository">
        update tb_outrepository set name=#{name},itemid=#{itemid},time=#{time},num=#{num},unit=#{unit},status=#{status} where id=#{id}
    </update>

    <!--删除出库信息-->
    <delete id="deleteOutRepository" parameterType="int">
        delete from tb_outrepository where id = #{id}
    </delete>

</mapper>