<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhy.Mapper.RoleMapper">
    <!--查询所有角色-->
    <select id="findAllRole" resultType="com.xhy.domain.Role" parameterType="String">
        select * from tb_roles
        <where>
            <if test="rolename !=null and rolename!=''">
                rolename like '%${rolename}%'
            </if>
        </where>
    </select>

    <!--增加角色-->
    <insert id="addRole" parameterType="com.xhy.domain.Role" >
        insert into tb_roles values(null,#{rolename},#{description},0)
    </insert>

<!--    修改角色-->
    <update id="updateRole" parameterType="com.xhy.domain.Role">
        update tb_roles set rolename=#{rolename},description=#{description},isDeleted=#{isDeleted} where roleId=#{roleId}
    </update>

<!--    删除角色-->
    <delete id="deleteRole" parameterType="int">
        delete from tb_roles where roleId=#{roleId}
    </delete>

    <!--    添加角色权限信息表-->
    <insert id="addRolePerm" parameterType="com.xhy.domain.RolePerm">
        insert into tb_role_permission(roleId, permId) values (#{roleId},#{permId})
    </insert>

    <!--    修改角色权限信息表-->
    <update id="updateRolePerm" parameterType="com.xhy.domain.RolePerm">
        update tb_role_permission set roleId = #{roleId} , permId = #{permId}
    </update>


    <!--    删除角色权限-->
    <delete id="deleteRolePerm" parameterType="int">
        delete from tb_role_permission where roleId=#{roleId}
    </delete>

</mapper>
