# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\服务外包大赛\项目目录\spring_demo1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
